<form action="" class="col-md-4 offset-4 mt-5 mb-5 card card-body" #form="ngForm" (ngSubmit)="register(form)">
        <h1 class="text-center" style="background-color: gray;">Register</h1>
        <div class="formgroup">
            <input type="text" name="name"class="form-control mb-1" placeholder="Enter Name...." #name="ngModel" ngModel required>
            <p class="text-danger" *ngIf="name.touched && name.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
            <input type="email" name="email" class="form-control mb-1" placeholder="Enter Email...." #email="ngModel" ngModel required>
            <p class="text-danger" *ngIf="email.touched && email.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
            <input type="password" name="password" class="form-control mb-1" placeholder="Enter Password...." #password="ngModel" ngModel required>
            <p class="text-danger" *ngIf="password.touched && password.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
            <input type="text" name="gender"class="form-control mb-1" placeholder="Enter Gender...." #gender="ngModel" ngModel required>
            <p class="text-danger" *ngIf="gender.touched && gender.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
                <input type="number" name="number" class="form-control mb-1" placeholder="Enter Number...." #number="ngModel" ngModel required>
                <p class="text-danger" *ngIf="number.touched && number.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
                <input type="text" name="role" class="form-control mb-1" placeholder="Enter Role...." #role="ngModel" ngModel required>
                <p class="text-danger" *ngIf="role.touched && role.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
                <input type="text" name="dob" class="form-control mb-1" placeholder="Enter DOB...." #date="ngModel" ngModel required>
                <p class="text-danger" *ngIf="date.touched && date.invalid">*This feild is required</p>
        </div>
        <div class="formgroup">
            <button type="reset" class="btn btn-primary float-right mb-2">Reset</button>
            <button type="submit" class="btn btn-primary float-right mb-2" [disabled]="form.invalid">Register</button>
        </div>
    </form>
